body {
    background: linear-gradient(#374151, #111827);
    font-family: "Roboto", sans-serif;
}
span {
    background-color: #4B5563;
    font-family: 'Source Sans Pro', monospace;
    font-weight: 600;
    line-height: 22.63px;
}
.logo {
    font-size: 18px;
    line-height: 21.09px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
input {
    background-color: #1F293799;
    border: none;
}
ul, input::placeholder {
    font-size: 16px;
    line-height: 18.75px;
}
a, article, input { 
    color: #FFFFFF;
}
.dateinf {
    line-height: 16.41px;
}
h1, p, a, input, footer {
    font-weight: 400;
}
h1 {
    font-size: 24px;
    line-height: 38px;
}
.devname, .dev, .footertext {
    line-height: 28px;
}
.devname, .text2, .footertext {
    font-size: 16px;
}
.dateinf, .dev {
    font-size: 14px;
}
.text1 {
    font-size: 20px;
    line-height: 32px;
}
.text2 {
    line-height: 30px;
}
input::placeholder, .dateinf, .dev, .footertext {
    color: #ffffffad;
}